################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.~lock.Intel_sample.xlsx#
.vs/
